*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    
}
.main{
    background-color: #373640;
    height: 11vh;
    width: 100vw;
}

.main a{
    
    text-decoration: none;
    color: snow;
}
.git{
    
    height: 11vh;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: 900;
    padding-left: 5vw;
}

.nav ul{

    height: 11vh;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    list-style: none;
    

}
.nav li{

    margin-right: 80px;

}
.main li:hover{
    
    color: darkgray;
    opacity: 0.7; 

}
.git:hover{
    
    color: darkgray;
    opacity: 0.8;
    margin-left: 1px; 
    transition: 0.3s;


}
.image{

    height: 90vh;
    width: 99.5vw;
    background-color: #63686E;
    align-items: center;
    
}
#img{
    display: flex;
    float: right;
    padding-right: 50px;
    padding-top: 70px;
    
}
#wel{
    color: snow;
    display: inline-flex;
    font-size: xx-large;
    padding-left: 35vw;
    padding-top: 35vh;
}
.abt{
    background-color: #33323bd8;
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: snow;
}
.hg{
    
    width: 25vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cntnt{

    height: 20vh;
    width: 60vw;
    background-color: #373640;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pro{

    background-color: #7E97A6;
    display: flex;
    justify-content: center;
    color: snow;
    padding-top: 5vh;

}
.Projects{

    height: 80vh;
    width: 100vw;
    background-color:#7E97A6;
    display: flex;
    align-items: center;
}
.card1{
    height: 33vh;
    width: 25vw;
    margin-left: 10vw;
    background-color: aliceblue;
}
.one{

    font-size: 100px;
    display: flex;
    justify-content: center;

}
.jp{
    background-color: aquamarine;
    color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.card1:hover{

    margin-bottom: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding-bottom: 20px;
    transition: 0.3s;
    border-radius: 3px;

}
.Projects a{
    text-decoration: none;
}
.jp:hover{

    opacity: 0.8;

}
#jp{
    padding-left: 9px;
}
.card2{
    height: 33vh;
    width: 25vw;
    margin-left: 30vw;
    background-color: aliceblue;
}
.two{

    font-size: 100px;
    display: flex;
    justify-content: center;

}
.ca{
    background-color: aquamarine;
    color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.card2:hover{

    margin-bottom: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding-bottom: 20px;
    transition: 0.3s;
    border-radius: 3px;

}
.ca:hover{

    opacity: 0.8;

}
#ca{
    padding-left: 5px;
}
.dm{
    background-color: ghostwhite;
    width: 100vw;
    display: flex;
    justify-content: center;
    color: #63686E;
    padding-top: 5vh;
}

.Contact{

    height: 100vh;
    width: 100vw;
    background-color: ghostwhite;
                                                                                                                                                                    
}
.details{

    height: 45vh;
    padding-top: 15vh;

}
.nam{
    display: inline-flex;
    padding-left: 10vw;
}
.age{
    display: inline-flex;
    padding-left: 18vw;
}
.mail{
    display: inline-flex;
    padding-left: 15vw;
}
.appoinment{
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}
.contact{
    display: flex;
    padding-left: 35vw;
    padding-top: 10vh;
}
footer{
    height: 11vh;
    width: 100vw;
    background-color: #B6F7C1;
}
.fut a{
    text-decoration: none;
    
}
.fut ul{
    display:flex;
    justify-content: center;
    list-style: none;
}
.fut li{
    padding-left: 35px;
    padding-top: 30px;
}
.fut a:hover{
    opacity: 0.5;
    
    color: ivory;
}


